<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyi.cms.dao.PlanDao">
	<select id="selectPlan" resultType="Plan">
		select * from zhunnengyuan_2019plan
	</select>
</mapper>